<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ssda_research -->
      <package
            uri="http://www.example.org/ssda_research"
            class="ssda_research.Ssda_researchPackage"
            genModel="model/ssda_research.genmodel"/>
   </extension>

</plugin>
